In [159]:
import pandas as pd

In [191]:
alcohol = pd.read_csv(r"C:\Users\97798\Desktop\Pandas\series methods and handling\drinks.csv",usecols=['country','wine_servings'],index_col='country')

In [222]:
alcohol = alcohol.squeeze()

In [223]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [225]:
alcohol.filter(regex='^V')

country
Vanuatu      11.0
Venezuela     3.0
Vietnam       1.0
Name: wine_servings, dtype: float64

In [228]:
alcohol.filter(like = 'stan')

country
Afghanistan      NaN
Kazakhstan      12.0
Kyrgyzstan       6.0
Pakistan         NaN
Tajikistan       NaN
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [229]:
# where method

In [236]:
alcohol.where(lambda x: x>200, other = 'too small').dropna()

country
Afghanistan    too small
Albania        too small
Algeria        too small
Andorra            312.0
Angola         too small
                 ...
Venezuela      too small
Vietnam        too small
Yemen          too small
Zambia         too small
Zimbabwe       too small
Name: wine_servings, Length: 193, dtype: object

In [233]:
def grt200(x):
    return x > 200

In [235]:
alcohol[grt200]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [238]:
alcohol.where(lambda x: x<200, other = 'too big').dropna()

country
Afghanistan    too big
Albania           54.0
Algeria           14.0
Andorra        too big
Angola            45.0
                ...
Venezuela          3.0
Vietnam            1.0
Yemen          too big
Zambia             4.0
Zimbabwe           4.0
Name: wine_servings, Length: 193, dtype: object

In [239]:
alcohol.mask(lambda x: x>200).dropna()

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 150, dtype: float64