In [95]:
import pandas as pd

In [96]:
# Isolate the not nulls in the alcohol_series and assign them to variable name wine_servings

In [106]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [110]:
 (alcohol.notnull().index)

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [112]:
wine_servings = alcohol[ (alcohol.notnull().index)]

In [113]:
wine_servings.sum()

8221.0

In [114]:
type(wine_servings)

pandas.core.series.Series

In [116]:
# In the wine sevings datset what was the total wine consumed that consumed less than 100 servingsa

In [117]:
wine_servings < 100

country
Afghanistan    False
Albania         True
Algeria         True
Andorra        False
Angola          True
               ...
Venezuela       True
Vietnam         True
Yemen          False
Zambia          True
Zimbabwe        True
Name: wine_servings, Length: 193, dtype: bool

In [125]:
wine_servings[wine_servings < 100].sum()

2416.0