In [159]:
import pandas as pd

In [160]:
alcohol = pd.read_csv(r"C:\Users\97798\Desktop\Pandas\series methods and handling\drinks.csv",usecols=['country','wine_servings'],index_col='country')

In [161]:
alcohol = alcohol.squeeze()

In [162]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [163]:
alcohol + 2

country
Afghanistan      NaN
Albania         56.0
Algeria         16.0
Andorra        314.0
Angola          47.0
               ...
Venezuela        5.0
Vietnam          3.0
Yemen            NaN
Zambia           6.0
Zimbabwe         6.0
Name: wine_servings, Length: 193, dtype: float64

In [164]:
(alcohol -10 )* 2

country
Afghanistan      NaN
Albania         88.0
Algeria          8.0
Andorra        604.0
Angola          70.0
               ...
Venezuela      -14.0
Vietnam        -18.0
Yemen            NaN
Zambia         -12.0
Zimbabwe       -12.0
Name: wine_servings, Length: 193, dtype: float64

In [165]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [166]:
alcohol.sort_index(inplace=True)

In [167]:
alcohol['Albania']

54.0

In [180]:
more_drinks = pd.Series({'Albania' : 6, })

In [181]:
more_drinks

Albania    6
dtype: int64

In [182]:
alcohol + more_drinks

Afghanistan     NaN
Albania        60.0
Algeria         NaN
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [183]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [184]:
alcohol.add(more_drinks, fill_value = 0)

Afghanistan      NaN
Albania         60.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [185]:
alcohol.subtract(more_drinks,fill_value = 0)

Afghanistan      NaN
Albania         48.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [187]:
alcohol.divide(more_drinks,fill_value = 1)

Afghanistan      NaN
Albania          9.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [188]:
alcohol.multiply(more_drinks, fill_value =1 )

Afghanistan      NaN
Albania        324.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [189]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [190]:
more_drinks

Albania    6
dtype: int64