In [159]:
import pandas as pd

In [191]:
alcohol = pd.read_csv(r"C:\Users\97798\Desktop\Pandas\series methods and handling\drinks.csv",usecols=['country','wine_servings'],index_col='country')

In [240]:
alcohol = alcohol.squeeze()

In [241]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [242]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [243]:
alcohol['Algeria'] = 10

In [244]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         10.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [245]:
alcohol.update(pd.Series(data=[200,20],index=['Algeria','Albania']))

In [246]:
alcohol

country
Afghanistan      NaN
Albania         20.0
Algeria        200.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [247]:
# apply method

In [250]:
alcohol.apply(lambda x: x*x)

country
Afghanistan        NaN
Albania          400.0
Algeria        40000.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [251]:
import numpy as np
import math

In [252]:
alcohol.apply(np.square)

country
Afghanistan        NaN
Albania          400.0
Algeria        40000.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [256]:
def sqquare(x):
    return x*x

In [257]:
alcohol.apply(sqquare)

country
Afghanistan        NaN
Albania          400.0
Algeria        40000.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [258]:
alcohol.head

<bound method NDFrame.head of country
Afghanistan      NaN
Albania         20.0
Algeria        200.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64>

In [259]:
# map method

In [260]:
alcohol.map(lambda x: x*x)

country
Afghanistan        NaN
Albania          400.0
Algeria        40000.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [261]:
alcohol.map(sqquare)

country
Afghanistan        NaN
Albania          400.0
Algeria        40000.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64