In [148]:
import numpy as np
import pandas as pd

In [149]:
players.head(5)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [150]:
# find all players who are english

In [153]:
english_players = players[players.nationality == 'England']

In [154]:
english_players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
14,Jack Wilshere,Arsenal,25,CM,2,18.0,1759,5.5,0.00%,61,1,England,0,3,1,1,0
18,Kieran Gibbs,Arsenal,27,LB,3,10.0,489,5.0,0.50%,45,1,England,0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,Mark Noble,West+Ham,30,CM,2,7.0,425,5.5,0.10%,71,1,England,0,4,20,0,0
453,Andy Carroll,West+Ham,28,CF,1,10.0,1212,6.0,0.40%,69,1,England,0,4,20,0,0
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [155]:
# their market value is more than twice the average market value in the league

In [157]:
mean_value = players.market_value.mean()

In [160]:
players[players.market_value >= 2*mean_value].name

0         Alexis Sanchez
1             Mesut Ozil
5        Hector Bellerin
8       Shkodran Mustafi
10          Granit Xhaka
             ...
386    Toby Alderweireld
387       Victor Wanyama
388            Eric Dier
390           Danny Rose
396          Erik Lamela
Name: name, Length: 65, dtype: object

In [161]:
# they either have more than 4000 views or a new signing but not both

In [162]:
players.page_views

0      4329
1      4395
2      1529
3      2393
4       912
       ...
460     288
461     199
462     198
463     412
464     214
Name: page_views, Length: 465, dtype: int64

In [163]:
players.new_signing

0      0
1      0
2      0
3      0
4      0
      ..
460    1
461    1
462    0
463    1
464    0
Name: new_signing, Length: 465, dtype: int64

In [168]:
players[(players.page_views > 4000) ^ (players.new_signing ==1)].name

0           Alexis Sanchez
1               Mesut Ozil
8         Shkodran Mustafi
21             Rob Holding
24             Lucas Perez
              ...
448             Andre Ayew
457       Sofiane Feghouli
460    Edimilson Fernandes
461         Arthur Masuaku
463        Ashley Fletcher
Name: name, Length: 72, dtype: object