In [6]:
import numpy as np
import pandas as pd

In [74]:
from datetime import date

In [75]:
oil_url = 'https://andybek.com/pandas-oil'

In [76]:
brent = pd.read_csv(oil_url)

In [77]:
brent.head(
)

        Date  Price
0  04-Jan-00  23.95
1  05-Jan-00  23.72
2  06-Jan-00  23.55
3  07-Jan-00  23.35
4  10-Jan-00  22.77

In [78]:
brent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 78.5+ KB

In [79]:
brent.columns

Index(['Date', 'Price'], dtype='object')

In [80]:
brent.dtypes

Date      object
Price    float64
dtype: object

In [81]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 362.6 KB

In [92]:
brent.Date = brent.Date.astype(np.datetime64)

In [93]:
brent.Date.dtype

dtype('<M8[ns]')

In [94]:
brent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   datetime64[ns]
 1   Price   5016 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.5 KB

In [95]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   datetime64[ns]
 1   Price   5016 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.5 KB

In [97]:
 brent.set_index('Date', inplace=True)

In [99]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [102]:
brent.index.duplicated().sum(   )

0

In [103]:
brent

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77
...           ...
2019-09-24  64.13
2019-09-25  62.41
2019-09-26  62.08
2019-09-27  62.48
2019-09-30  60.99

[5016 rows x 1 columns]

In [106]:
brent.isna().sum()

Price    0
dtype: int64

In [115]:
brent.duplicated(subset='Price').sum()

1255

In [116]:
# a cool shortcut read_cv with parse dates

In [131]:
 brent2= pd.read_csv(oil_url, index_col= 0 , parse_dates=True)

In [132]:
brent2

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77
...           ...
2019-09-24  64.13
2019-09-25  62.41
2019-09-26  62.08
2019-09-27  62.48
2019-09-30  60.99

[5016 rows x 1 columns]

In [133]:
brent2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5016 entries, 2000-01-04 to 2019-09-30
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   5016 non-null   float64
dtypes: float64(1)
memory usage: 78.4 KB