In [6]:
import numpy as np
import pandas as pd

In [74]:
from datetime import date

In [75]:
oil_url = 'https://andybek.com/pandas-oil'

In [76]:
brent = pd.read_csv(oil_url)

In [245]:
brent.head(
)

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

In [246]:
pd.date_range(start='10 may 2020', end='20 jun 2023')

DatetimeIndex(['2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19',
               ...
               '2023-06-11', '2023-06-12', '2023-06-13', '2023-06-14',
               '2023-06-15', '2023-06-16', '2023-06-17', '2023-06-18',
               '2023-06-19', '2023-06-20'],
              dtype='datetime64[ns]', length=1137, freq='D')

In [247]:
pd.date_range(start='1/20/2020', periods=10)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
               '2020-01-28', '2020-01-29'],
              dtype='datetime64[ns]', freq='D')

In [248]:
pd.date_range(start='1/20/2020', periods=10, freq='w')

DatetimeIndex(['2020-01-26', '2020-02-02', '2020-02-09', '2020-02-16',
               '2020-02-23', '2020-03-01', '2020-03-08', '2020-03-15',
               '2020-03-22', '2020-03-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [249]:
pd.date_range(start='1/20/2020', periods=10, freq='2w')

DatetimeIndex(['2020-01-26', '2020-02-09', '2020-02-23', '2020-03-08',
               '2020-03-22', '2020-04-05', '2020-04-19', '2020-05-03',
               '2020-05-17', '2020-05-31'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [250]:
pd.date_range(end='1/20/2020', periods=10, freq='2w')

DatetimeIndex(['2019-09-15', '2019-09-29', '2019-10-13', '2019-10-27',
               '2019-11-10', '2019-11-24', '2019-12-08', '2019-12-22',
               '2020-01-05', '2020-01-19'],
              dtype='datetime64[ns]', freq='2W-SUN')