In [6]:
import numpy as np
import pandas as pd

In [74]:
from datetime import date

In [75]:
oil_url = 'https://andybek.com/pandas-oil'

In [76]:
brent = pd.read_csv(oil_url)

In [203]:
brent.head(
)

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

In [204]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [206]:
brent.index.day_name()

Index(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Monday',
       ...
       'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Monday'],
      dtype='object', name='Date', length=5016)

In [208]:
brent.index.day

Int64Index([ 4,  5,  6,  7, 10, 11, 12, 13, 14, 17,
            ...
            17, 18, 19, 20, 23, 24, 25, 26, 27, 30],
           dtype='int64', name='Date', length=5016)

In [209]:
brent.index.week

C:\Users\97798\AppData\Local\Temp\ipykernel_7124\1436609126.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  brent.index.week

Int64Index([ 1,  1,  1,  1,  2,  2,  2,  2,  2,  3,
            ...
            38, 38, 38, 38, 39, 39, 39, 39, 39, 40],
           dtype='int64', name='Date', length=5016)

In [210]:
brent.index.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            9, 9, 9, 9, 9, 9, 9, 9, 9, 9],
           dtype='int64', name='Date', length=5016)

In [211]:
# what day has registered the lowest price on average in the past 19 years

In [215]:
brent['dayname'] = brent.index.day_name()

In [216]:
brent.head()

            Price    dayname
Date
2000-01-04  23.95    Tuesday
2000-01-05  23.72  Wednesday
2000-01-06  23.55   Thursday
2000-01-07  23.35     Friday
2000-01-10  22.77     Monday

In [234]:
(brent.groupby('dayname').agg('mean')).idxmin()

Price    Monday
dtype: object

In [236]:
brent.drop('dayname', axis =1 , inplace=True)

In [237]:
brent.head()

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

In [238]:
# bool marks with datetimeindex attributes

In [239]:
# find the average Brent prices in all leap years Feb

In [244]:
brent[(brent.index.is_leap_year == True) & (brent.index.month == 2)].mean()

Price    60.696634
dtype: float64