In [6]:
import numpy as np
import pandas as pd

In [74]:
from datetime import date

In [75]:
oil_url = 'https://andybek.com/pandas-oil'

In [76]:
brent = pd.read_csv(oil_url)

In [77]:
brent.head(
)

        Date  Price
0  04-Jan-00  23.95
1  05-Jan-00  23.72
2  06-Jan-00  23.55
3  07-Jan-00  23.35
4  10-Jan-00  22.77

In [78]:
brent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 78.5+ KB

In [79]:
brent.columns

Index(['Date', 'Price'], dtype='object')

In [80]:
brent.dtypes

Date      object
Price    float64
dtype: object

In [81]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 362.6 KB

In [92]:
brent.Date = brent.Date.astype(np.datetime64)

In [93]:
brent.Date.dtype

dtype('<M8[ns]')

In [94]:
brent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   datetime64[ns]
 1   Price   5016 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.5 KB

In [134]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5016 entries, 2000-01-04 to 2019-09-30
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   5016 non-null   float64
dtypes: float64(1)
memory usage: 207.4 KB

In [135]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [136]:
# select the brent price on jan 3rd 2017

In [140]:
brent.loc['2017-01-03']

            Price
Date
2017-01-03  55.05

In [165]:
 brent.loc[slice('2017-01-03', '2019-01-10')].nlargest(n=2, columns = 'Price')

            Price
Date
2018-10-04  86.07
2018-10-02  85.63

In [167]:
# select all dates from jan 2019

In [169]:
brent.loc[slice('2019-01-01', '2019-01-31')]

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46

In [171]:
brent.loc['2019-01']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46

In [182]:
first_month = brent.loc['2019-01'].index

In [183]:
first_month

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17',
               '2019-01-18', '2019-01-21', '2019-01-22', '2019-01-23',
               '2019-01-24', '2019-01-25', '2019-01-28', '2019-01-29',
               '2019-01-30', '2019-01-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [184]:
second_month = brent.loc['2019-02'].index

In [185]:
second_month

DatetimeIndex(['2019-02-01', '2019-02-04', '2019-02-05', '2019-02-06',
               '2019-02-07', '2019-02-08', '2019-02-11', '2019-02-12',
               '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-18',
               '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22',
               '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [186]:
 brent.loc[slice(first_month, second_month)]

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17',
               '2019-01-18', '2019-01-21', '2019-01-22', '2019-01-23',
               '2019-01-24', '2019-01-25', '2019-01-28', '2019-01-29',
               '2019-01-30', '2019-01-31'],
              dtype='datetime64[ns]', name='Date', freq=None)] of type DatetimeIndex

In [187]:
brent.loc['2019-01':'2020']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
...           ...
2019-09-24  64.13
2019-09-25  62.41
2019-09-26  62.08
2019-09-27  62.48
2019-09-30  60.99

[192 rows x 1 columns]