In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import date

In [4]:
date_A = date(2020,2,2)

In [5]:
type(date_A)

datetime.date

In [8]:
# number of seconds between two days 15 apart

In [9]:
date_A.day

2

In [10]:
from datetime import time

In [11]:
date_A.year

2020

In [16]:
date_A.isoformat

In [20]:
from datetime import datetime

In [18]:
# the datetime class

In [21]:
df_ = datetime(2020,2,2,2,2,2)

In [23]:
datetime.now()

datetime.datetime(2023, 5, 23, 11, 41, 40, 917531)

In [26]:
datetime.year

In [28]:
dt_n = datetime.strptime('2019-01-01', '%Y-%m-%d')

In [29]:
dt_n

datetime.datetime(2019, 1, 1, 0, 0)

In [30]:
dt_n.isoformat()

'2019-01-01T00:00:00'

In [31]:
# another example:

In [32]:
try_this = 'jan 20 2090 4pm'

In [39]:
try_this = datetime.strptime(try_this,'%b %d %Y %I%p')

In [42]:
try_this = try_this.isoformat()

In [43]:
type(try_this)

str

In [44]:
# dateutil

In [45]:
pip install python-dateutil

Requirement already satisfied: python-dateutil in c:\users\97798\anaconda3\lib\site-packages (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\97798\anaconda3\lib\site-packages (from python-dateutil) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from dateutil import parser

In [2]:
parser.parse('jan 21st 1990')

datetime.datetime(1990, 1, 21, 0, 0)

In [3]:
parser.parse('22 april 2068 and 4 pm at 40 minutes')

datetime.datetime(2068, 4, 22, 16, 40)