In [451]:
tech.head(10)

                              month  year  day    open   close    high  \
date       volume_type name
2014-01-02 medium      FB         1  2014    2   54.86   54.71   55.22
           low         AAPL       1  2014    2   79.38   79.02   79.58
           medium      GOOGL      1  2014    2  557.73  556.56  558.88
                       MSFT       1  2014    2   37.35   37.16   37.40
                       AMZN       1  2014    2  398.80  397.97  399.36
2014-01-03 medium      FB         1  2014    3   55.00   54.56   55.65
                       GOOGL      1  2014    3  557.50  552.50  558.47
                       MSFT       1  2014    3   37.20   36.91   37.22
           low         AAPL       1  2014    3   79.00   77.28   79.10
           medium      AMZN       1  2014    3  398.29  396.44  402.71

                                 low    volume
date       volume_type name
2014-01-02 medium      FB      54.19  43257622
           low         AAPL    78.86   8398851
           medium      GOOGL  554.13   1822719
                       MSFT    37.10  30643745
                       AMZN   394.02   2140246
2014-01-03 medium      FB      54.53  38287706
                       GOOGL  552.47   1669229
                       MSFT    36.60  31134795
           low         AAPL    77.20  14043410
           medium      AMZN   396.22   2213512

In [453]:
tidx = tech.index

In [454]:
type(tidx)

pandas.core.indexes.multi.MultiIndex

In [458]:
tidx.is_monotonic_increasing

False

In [459]:
tidx.sortlevel(0, ascending = False, sort_remaining=True)

(MultiIndex([('2019-08-23', 'medium',  'MSFT'),
             ('2019-08-23', 'medium', 'GOOGL'),
             ('2019-08-23', 'medium',    'FB'),
             ('2019-08-23', 'medium',  'AMZN'),
             ('2019-08-23', 'medium',  'AAPL'),
             ('2019-08-22', 'medium',  'MSFT'),
             ('2019-08-22', 'medium',  'AMZN'),
             ('2019-08-22', 'medium',  'AAPL'),
             ('2019-08-22',    'low', 'GOOGL'),
             ('2019-08-22',    'low',    'FB'),
             ...
             ('2014-01-03', 'medium',  'MSFT'),
             ('2014-01-03', 'medium', 'GOOGL'),
             ('2014-01-03', 'medium',    'FB'),
             ('2014-01-03', 'medium',  'AMZN'),
             ('2014-01-03',    'low',  'AAPL'),
             ('2014-01-02', 'medium',  'MSFT'),
             ('2014-01-02', 'medium', 'GOOGL'),
             ('2014-01-02', 'medium',    'FB'),
             ('2014-01-02', 'medium',  'AMZN'),
             ('2014-01-02',    'low',  'AAPL')],
            names=['date', 'volume_type', 'name'], length=7105),
 array([7100, 7102, 7104, ...,    0,    4,    1], dtype=int64))

In [460]:
tidx.sortlevel(level=(0,1,2), ascending=[True, False, False])

(MultiIndex([('2014-01-02', 'medium',  'MSFT'),
             ('2014-01-02', 'medium', 'GOOGL'),
             ('2014-01-02', 'medium',    'FB'),
             ('2014-01-02', 'medium',  'AMZN'),
             ('2014-01-02',    'low',  'AAPL'),
             ('2014-01-03', 'medium',  'MSFT'),
             ('2014-01-03', 'medium', 'GOOGL'),
             ('2014-01-03', 'medium',    'FB'),
             ('2014-01-03', 'medium',  'AMZN'),
             ('2014-01-03',    'low',  'AAPL'),
             ...
             ('2019-08-22', 'medium',  'MSFT'),
             ('2019-08-22', 'medium',  'AMZN'),
             ('2019-08-22', 'medium',  'AAPL'),
             ('2019-08-22',    'low', 'GOOGL'),
             ('2019-08-22',    'low',    'FB'),
             ('2019-08-23', 'medium',  'MSFT'),
             ('2019-08-23', 'medium', 'GOOGL'),
             ('2019-08-23', 'medium',    'FB'),
             ('2019-08-23', 'medium',  'AMZN'),
             ('2019-08-23', 'medium',  'AAPL')],
            names=['date', 'volume_type', 'name'], length=7105),
 array([   3,    2,    0, ..., 7104, 7103, 7101], dtype=int64))

In [470]:
tech.head()

                                     month  year  day    open   close    high  \
Trading date Volume Category Ticker
2014-01-02   medium          FB          1  2014    2   54.86   54.71   55.22
             low             AAPL        1  2014    2   79.38   79.02   79.58
             medium          GOOGL       1  2014    2  557.73  556.56  558.88
                             MSFT        1  2014    2   37.35   37.16   37.40
                             AMZN        1  2014    2  398.80  397.97  399.36

                                        low    volume
Trading date Volume Category Ticker
2014-01-02   medium          FB       54.19  43257622
             low             AAPL     78.86   8398851
             medium          GOOGL   554.13   1822719
                             MSFT     37.10  30643745
                             AMZN    394.02   2140246

In [473]:
stacked = tech.stack()

In [475]:
stacked.head(10)

Trading date  Volume Category  Ticker
2014-01-02    medium           FB      month            1.00
                                       year          2014.00
                                       day              2.00
                                       open            54.86
                                       close           54.71
                                       high            55.22
                                       low             54.19
                                       volume    43257622.00
              low              AAPL    month            1.00
                                       year          2014.00
dtype: float64

In [476]:
type(stacked)

pandas.core.series.Series

In [477]:
stacked.index.nlevels

4

In [478]:
stacked.index.names

FrozenList(['Trading date', 'Volume Category', 'Ticker', None])