In [2]:
import numpy as np
import pandas as pd

In [3]:
players = pd.read_csv(r"C:\Users\97798\Desktop\Pandas\dataframes in depth\soccer.csv")

In [4]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [5]:
# chelsea players and 23 years or younger

In [11]:
chelsea_23_under = ((players.club == 'Chelsea') & (players.age<=23))

In [16]:
# only need position and market_value

players.loc[chelsea_23_under,['position','market_value']]

    position  market_value
110       CF          25.0
111       CB          15.0
112       LB           7.0
115       DM          16.0

In [17]:
# select all columns that begin with lowercase p

In [27]:
pcols = players.columns.str.startswith('p')

In [28]:
players.loc[chelsea_23_under,pcols]

    position  position_cat  page_views
110       CF             1        1162
111       CB             3         723
112       LB             3         566
115       DM             2        1011

In [29]:
print(chelsea_23_under.shape)

(465,)

In [30]:
print(players.shape)

(465, 17)

In [31]:
print(pcols.shape)

(17,)

In [32]:
# [] chaining

In [34]:
players[chelsea_23_under]['position']

110    CF
111    CB
112    LB
115    DM
Name: position, dtype: object

In [36]:
players.loc[chelsea_23_under,'position']

110    CF
111    CB
112    LB
115    DM
Name: position, dtype: object