In [1]:
import numpy as np
import pandas as pd

In [54]:
players = pd.read_csv(r"C:\Users\97798\Desktop\soccer.csv")

In [55]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [56]:
True | False

True

In [57]:
True and False

False

In [58]:
f = pd.Series(False)

In [59]:
t = pd.Series(True)

In [61]:
f & t

0    False
dtype: bool

In [62]:
f | t

0    True
dtype: bool

In [71]:
t = pd.Series(True if i%2 ==0 else False for i in range(10))

In [74]:
f = pd.Series(False if i%2 ==0 else True for i in range(10))

In [75]:
t | f

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [76]:
t & f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [77]:
t & f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [78]:
t = pd.Series(data= [True, True, True],index=['a','b','c'])
f = pd.Series(data= [False, True, False], index=['c','b','a'])

In [80]:
t |f

a    True
b    True
c    True
dtype: bool

In [81]:
t & f

a    False
b     True
c    False
dtype: bool

In [82]:
# Xor

In [83]:
~False

-1

In [84]:
t = pd.Series(data= [True,False, True])

In [85]:
t

0     True
1    False
2     True
dtype: bool

In [86]:
~t

0    False
1     True
2    False
dtype: bool