In [1]:
import numpy as np
import pandas as pd

In [8]:
players = pd.read_csv(r"C:\Users\97798\Desktop\soccer.csv")

In [9]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [10]:
players.dtypes

name             object
club             object
age               int64
position         object
position_cat      int64
market_value    float64
page_views        int64
fpl_value       float64
fpl_sel          object
fpl_points        int64
region            int64
nationality      object
new_foreign       int64
age_cat           int64
club_id           int64
big_club          int64
new_signing       int64
dtype: object

In [12]:
players.dtypes.value_counts()

int64      10
object      5
float64     2
dtype: int64

In [13]:
players.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Columns: 17 entries, name to new_signing
dtypes: float64(2), int64(10), object(5)
memory usage: 61.9+ KB

In [19]:
(players[players['market_value'] > 40])

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
96,Eden Hazard,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
244,Kevin De Bruyne,Manchester+City,26,AM,1,65.0,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
245,Sergio Aguero,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
267,Paul Pogba,Manchester+United,24,CM,2,75.0,7435,8.0,19.50%,115,2,France,0,2,12,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

In [20]:
# other approaches

In [23]:
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [24]:
defender = ['LB','CB','RB']

In [40]:
players[players.position.isin(defender)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.0,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
17,Gabriel Paulista,Arsenal,26,CB,3,13.0,552,5.0,0.10%,45,3,Brazil,0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
458,Angelo Ogbonna,West+Ham,29,CB,3,9.0,247,4.5,1.10%,45,2,Italy,0,4,20,0,0
459,Pablo Zabaleta,West+Ham,32,RB,3,7.0,698,5.0,2.70%,45,3,Argentina,0,5,20,0,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0

In [37]:
defe

['Laurent Koscielny',
 'Hector Bellerin',
 'Nacho Monreal',
 'Shkodran Mustafi',
 'Gabriel Paulista',
 'Kieran Gibbs',
 'Rob Holding',
 'Carl Jenkinson',
 'Per Mertesacker',
 'Sead Kolasinac',
 'Charlie Daniels',
 'Steve Cook',
 'Adam Smith',
 'Simon Francis',
 'Nathan Ake',
 'Tyrone Mings',
 'Brad Smith',
 'Lewis Dunk',
 'Shane Duffy',
 'Uwe Hunemeier',
 'Bruno',
 'Gaetan Bong',
 'Liam Rosenior',
 'Connor Goldson',
 'Markus Suttner',
 'Ben Mee',
 'Stephen Ward',
 'Matthew Lowton',
 'James Tarkowski',
 'Kevin Long',
 'Gary Cahill',
 'Marcos Alonso Mendoza',
 'Cesar Azpilicueta',
 'David Luiz',
 'Kurt Zouma',
 'Kenedy',
 'Antonio Rudiger',
 'Patrick van Aanholt',
 'Joel Ward',
 'James Tomkins',
 'Scott Dann',
 'Damien Delaney',
 'Jeffrey Schlupp',
 'Martin Kelly',
 'Pape Souare',
 'Leighton Baines',
 'Seamus Coleman',
 'Ashley Williams',
 'Michael Keane',
 'Phil Jagielka',
 'Ramiro Funes Mori',
 'Mason Holgate',
 'Cuco Martina',
 'Matthew Pennington',
 'Jonjoe Kenny',
 'Christopher Schindler',
 'Chris Lowe',
 'Tommy Smith',
 'Michael Hefele',
 'Martin Cranie',
 'Jon Gorenc Stankovic',
 'Mark Hudson',
 'Mathias Jorgensen',
 'Scott Malone',
 'Andy Williams',
 'Christian Fuchs',
 'Robert Huth',
 'Danny Simpson',
 'Harry Maguire',
 'Wes Morgan',
 'Yohan Benalouane',
 'Ben Chilwell',
 'Molla Wague',
 'Nathaniel Clyne',
 'Dejan Lovren',
 'Joel Matip',
 'Ragnar Klavan',
 'Mamadou Sakho',
 'Trent Alexander-Arnold',
 'Alberto Moreno',
 'Joe Gomez',
 'Kyle Walker',
 'Nicolas Otamendi',
 'Aleksandar Kolarov',
 'John Stones',
 'Vincent Kompany',
 'Antonio Valencia',
 'Eric Bailly',
 'Daley Blind',
 'Marcos Rojo',
 'Matteo Darmian',
 'Phil Jones',
 'Chris Smalling',
 'Luke Shaw',
 'Axel Tuanzebe',
 'Victor Lindelof',
 'DeAndre Yedlin',
 'Ciaran Clark',
 'Lascelles',
 'Paul Dummett',
 'Grant Hanley',
 'Jesus Gamez',
 'Florian Lejeune',
 'Massadio Haidara',
 'Ryan Bertrand',
 'Cedric Soares',
 'Maya Yoshida',
 'Virgil van Dijk',
 'Jack Stephens',
 'Matt Targett',
 'Jason McCarthy',
 'Jan Bednarek',
 'Erik Pieters',
 'Ryan Shawcross',
 'Geoff Cameron',
 'Glen Johnson',
 'Marc Muniesa',
 'Phil Bardsley',
 'Josh Tymon',
 'Alfie Mawson',
 'Kyle Naughton',
 'Federico Fernandez',
 'Martin Olsson',
 'Stephen Kingsley',
 'Ã€ngel Rangel',
 'Mike van der Hoorn',
 'Jan Vertonghen',
 'Toby Alderweireld',
 'Ben Davies',
 'Danny Rose',
 'Kieran Trippier',
 'Kevin Wimmer',
 'Jose Holebas',
 'Miguel Britos',
 'Sebastian Prodl',
 'YounÃ¨s Kaboul',
 'Daryl Janmaat',
 'Kabasele',
 'Craig Cathcart',
 'Adrian Mariappa',
 'Kiko Femenia',
 'Gareth McAuley',
 'Craig Dawson',
 'Jonny Evans',
 'Allan Nyom',
 'Ahmed Hegazy',
 'Winston Reid',
 'Jose Fonte',
 'James Collins',
 'Aaron Cresswell',
 'Angelo Ogbonna',
 'Pablo Zabaleta',
 'Arthur Masuaku',
 'Sam Byram']

In [43]:
players[players.market_value.between(40,50,inclusive=True)]

C:\Users\97798\AppData\Local\Temp\ipykernel_1528\4172949838.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  players[players.market_value.between(40,50,inclusive=True)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
31,Alexandre Lacazette,Arsenal,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
219,Sadio Mane,Liverpool,25,LW,1,40.0,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
263,Bernardo Silva,Manchester+City,22,RW,1,40.0,1098,8.0,4.60%,0,2,Portugal,1,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
265,David de Gea,Manchester+United,26,GK,4,40.0,2126,5.5,26.10%,136,2,Spain,0,3,12,1,0
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
382,Christian Eriksen,Tottenham,25,AM,1,40.0,1130,9.5,12.00%,218,2,Denmark,0,3,17,1,0

In [44]:
# another way

In [46]:
players[players.age <= 25]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [48]:
players[players.age.le(25)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [53]:
players[players.age.ge(25)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
457,Sofiane Feghouli,West+Ham,27,RW,1,12.0,394,5.5,0.20%,55,4,Algeria,0,3,20,0,1
458,Angelo Ogbonna,West+Ham,29,CB,3,9.0,247,4.5,1.10%,45,2,Italy,0,4,20,0,0
459,Pablo Zabaleta,West+Ham,32,RB,3,7.0,698,5.0,2.70%,45,3,Argentina,0,5,20,0,0
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players[players.age.ge(25)]