In [1]:
import numpy as np

In [2]:
import pandas as pd

In [44]:
players = pd.read_csv(r"C:\Users\97798\Desktop\Pandas\dataframes in depth\soccer.csv")

In [108]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [109]:
players.agg('mean')

C:\Users\97798\AppData\Local\Temp\ipykernel_14484\3820880281.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  players.agg('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [110]:
players.new_signing.mean()

0.14408602150537633

In [111]:
players.club.mean()

TypeError: Could not convert ArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalArsenalBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBournemouthBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBrighton+and+HoveBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurnleyChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaChelseaCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceCrystal+PalaceEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonEvertonHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldHuddersfieldLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLeicester+CityLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolLiverpoolManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+CityManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedManchester+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedNewcastle+UnitedSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonSouthamptonStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CityStoke+CitySwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaSwanseaTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamTottenhamWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWatfordWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+BromWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+HamWest+Ham to numeric

In [113]:
players.agg(np.min)

C:\Users\97798\AppData\Local\Temp\ipykernel_14484\3860056659.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  players.agg(np.min)

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                   4.0
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [116]:
players.aggregate('min')

C:\Users\97798\AppData\Local\Temp\ipykernel_14484\3254025435.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  players.aggregate('min')

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                   4.0
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [117]:
players.aggregate('max')

C:\Users\97798\AppData\Local\Temp\ipykernel_14484\2065333010.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  players.aggregate('max')

name            Åukasz FabiaÅ„ski
club                      West+Ham
age                             38
position_cat                     4
market_value                  75.0
page_views                    7664
fpl_value                     12.5
fpl_sel                      9.70%
fpl_points                     264
region                           4
nationality                  Wales
new_foreign                      1
age_cat                          6
club_id                         20
big_club                         1
new_signing                      1
dtype: object

In [119]:
players.select_dtypes(np.number).aggregate([np.min,np.max,np.median,np.mean])

,age,position_cat,market_value,page_views,fpl_value,fpl_points,region,new_foreign,age_cat,club_id,big_club,new_signing
amin,17.000000,1.000000,0.050000,3.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
amax,38.000000,4.000000,75.000000,7664.000000,12.500000,264.000000,4.000000,1.000000,6.000000,20.000000,1.000000,1.000000
median,27.000000,2.000000,7.000000,461.000000,5.000000,51.000000,2.000000,0.000000,3.000000,10.000000,0.000000,0.000000
mean,26.776344,2.178495,11.125649,771.546237,5.450538,57.544086,1.989247,0.034409,3.195699,10.253763,0.309677,0.144086