In [1]:
import numpy as np
import pandas as pd

In [92]:
players = pd.read_csv(r"C:\Users\97798\Desktop\soccer.csv")

In [93]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [94]:
players.sample(5)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
105,Willian,Chelsea,28,RW,1,32.0,1165,7.0,9.00%,114,3,Brazil,0,4,5,1,0
119,Patrick van Aanholt,Crystal+Palace,26,LB,3,9.0,524,5.5,4.20%,98,2,Netherlands,0,3,6,0,0
338,Ryan Shawcross,Stoke+City,29,CB,3,11.0,281,5.0,1.00%,94,2,England,0,4,15,0,0
306,Dwight Gayle,Newcastle+United,26,CF,1,10.0,1351,6.5,11.40%,0,1,England,0,3,13,0,0
452,James Collins,West+Ham,33,CB,3,2.0,187,4.5,0.90%,69,2,Wales,0,5,20,0,0

In [98]:
players[players.position== 'GK' ]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
2,Petr Cech,Arsenal,35,GK,4,7.00,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
25,Emiliano Martinez,Arsenal,24,GK,4,1.00,372,4.0,4.20%,8,3,Argentina,0,2,1,1,0
26,David Ospina,Arsenal,28,GK,4,7.00,544,5.0,0.20%,2,3,Colombia,0,4,1,1,0
35,Artur Boruc,Bournemouth,37,GK,4,1.00,436,4.5,6.90%,120,2,Poland,0,6,2,0,0
51,Adam Federici,Bournemouth,32,GK,4,1.00,126,4.0,1.50%,8,4,Australia,0,5,2,0,0
55,Asmir Begovic,Bournemouth,30,GK,4,8.00,697,4.5,9.30%,2,2,Bosnia,0,4,2,0,0
56,Niki Maenpaa,Brighton+and+Hove,32,GK,4,0.25,103,4.0,2.10%,0,2,Finland,0,5,3,0,0
57,Mathew Ryan,Brighton+and+Hove,25,GK,4,3.50,344,4.5,1.50%,0,4,Australia,0,3,3,0,0
78,Tom Heaton,Burnley,31,GK,4,4.00,717,5.0,13.50%,149,1,England,0,4,4,0,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.00,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
109,Willy Caballero,Chelsea,35,GK,4,1.50,542,5.0,0.20%,64,3,Argentina,0,6,5,1,0
121,Wayne Hennessey,Crystal+Palace,30,GK,4,4.00,242,4.5,2.10%,92,2,Wales,0,4,6,0,0
136,Julian Speroni,Crystal+Palace,38,GK,4,0.25,188,4.0,2.00%,0,3,Argentina,0,6,6,0,0
144,Jordan Pickford,Everton,23,GK,4,15.00,719,5.0,14.60%,102,1,England,0,2,7,0,0
145,Joel Robles,Everton,27,GK,4,5.00,304,4.5,0.40%,89,2,Spain,0,3,7,0,0
149,Maarten Stekelenburg,Everton,34,GK,4,2.00,623,4.5,0.30%,68,2,Netherlands,0,6,7,0,1
165,Joel Coleman,Huddersfield,21,GK,4,0.25,36,4.0,2.40%,0,1,England,0,1,8,0,0
166,Jonas Lossl,Huddersfield,28,GK,4,1.50,56,4.5,0.50%,0,2,Denmark,0,4,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0
214,Ben Hamer,Leicester+City,29,GK,4,0.50,132,4.5,0.10%,0,1,England,0,4,9,0,0
224,Simon Mignolet,Liverpool,29,GK,4,12.00,721,5.0,1.60%,110,2,Belgium,0,4,10,1,0
234,Loris Karius,Liverpool,24,GK,4,8.00,1255,5.0,0.20%,32,2,Germany,0,2,10,1,0
254,Claudio Bravo,Manchester+City,34,GK,4,8.00,436,5.0,1.20%,73,3,Chile,0,6,11,1,1
262,Ederson Moraes,Manchester+City,23,GK,4,22.00,297,5.5,4.50%,0,3,Brazil,1,2,11,1,0
265,David de Gea,Manchester+United,26,GK,4,40.00,2126,5.5,26.10%,136,2,Spain,0,3,12,1,0
284,Sergio Romero,Manchester+United,30,GK,4,6.00,849,5.0,0.20%,23,3,Argentina,0,4,12,1,0
287,Joel Castro Pereira,Manchester+United,21,GK,4,0.10,395,4.0,1.00%,6,2,Portugal,0,1,12,1,0
289,Rob Elliot,Newcastle+United,31,GK,4,1.00,134,4.0,13.50%,0,2,Ireland,0,4,13,0,0
290,Karl Darlow,Newcastle+United,26,GK,4,4.50,235,4.5,1.10%,0,1,England,0,3,13,0,0
310,Fraser Forster,Southampton,29,GK,4,15.00,548,5.0,7.30%,134,1,England,0,4,14,0,0
335,Lee Grant,Stoke+City,34,GK,4,1.00,480,4.5,1.20%,106,1,England,0,6,15,0,1
352,Jack Butland,Stoke+City,24,GK,4,15.00,402,5.0,2.80%,20,1,England,0,2,15,0,0
357,Åukasz FabiaÅ„ski,Swansea,32,GK,4,9.00,285,4.5,6.20%,116,2,Poland,0,5,16,0,0
377,Kristoffer Nordfeldt,Swansea,28,GK,4,1.50,82,4.0,1.70%,3,2,Sweden,0,4,16,0,0
384,Hugo Lloris,Tottenham,30,GK,4,24.00,847,5.5,12.60%,143,2,France,0,4,17,1,0
397,Michel Vorm,Tottenham,33,GK,4,4.00,252,5.0,0.10%,17,2,Netherlands,0,5,17,1,0
402,Heurelho Gomes,Watford,36,GK,4,1.00,439,4.5,2.20%,113,3,Brazil,0,6,18,0,0
420,Costel Pantilimon,Watford,30,GK,4,3.00,268,4.5,0.20%,2,2,Romania,0,4,18,0,0
427,Ben Foster,West+Brom,34,GK,4,4.00,484,4.5,20.70%,113,1,England,0,6,19,0,0
441,Boaz Myhill,West+Brom,34,GK,4,1.50,100,4.0,5.30%,0,2,Wales,0,6,19,0,0
451,Darren Randolph,West+Ham,30,GK,4,2.50,459,4.5,0.40%,69,2,Ireland,0,4,20,0,0
454,Adrian,West+Ham,30,GK,4,8.00,266,4.5,0.80%,64,2,Spain,0,4,20,0,0

In [102]:
players[(players.position == 'LB') & 
        (players.age>=25)
       ]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
7,Nacho Monreal,Arsenal,31,LB,3,13.00,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
18,Kieran Gibbs,Arsenal,27,LB,3,10.00,489,5.0,0.50%,45,1,England,0,3,1,1,0
34,Charlie Daniels,Bournemouth,30,LB,3,3.00,185,5.0,19.80%,134,1,England,0,4,2,0,0
62,Gaetan Bong,Brighton+and+Hove,29,LB,3,1.50,97,4.5,0.20%,0,4,Cameroon,0,4,3,0,0
65,Markus Suttner,Brighton+and+Hove,30,LB,3,2.00,23,4.5,0.20%,0,2,Austria,0,4,3,0,0
82,Stephen Ward,Burnley,31,LB,3,1.50,152,4.5,2.50%,91,2,Ireland,0,4,4,0,0
99,Marcos Alonso Mendoza,Chelsea,26,LB,3,25.00,3069,7.0,12.40%,177,2,Spain,0,3,5,1,1
119,Patrick van Aanholt,Crystal+Palace,26,LB,3,9.00,524,5.5,4.20%,98,2,Netherlands,0,3,6,0,0
134,Pape Souare,Crystal+Palace,27,LB,3,6.00,186,4.5,0.00%,6,4,Senegal,0,3,6,0,0
138,Leighton Baines,Everton,32,LB,3,12.00,491,6.0,10.00%,135,1,England,0,5,7,0,0
168,Chris Lowe,Huddersfield,28,LB,3,1.50,84,4.5,0.70%,0,2,Germany,0,4,8,0,0
175,Scott Malone,Huddersfield,26,LB,3,0.75,81,4.5,0.10%,0,1,England,0,3,8,0,0
196,Christian Fuchs,Leicester+City,31,LB,3,6.00,417,5.0,3.50%,104,2,Austria,0,4,9,0,0
236,Alberto Moreno,Liverpool,25,LB,3,10.00,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
251,Aleksandar Kolarov,Manchester+City,31,LB,3,10.00,633,5.5,1.10%,95,2,Serbia,0,4,11,1,0
270,Daley Blind,Manchester+United,27,LB,3,22.00,867,5.5,1.20%,98,2,Netherlands,0,3,12,1,0
294,Paul Dummett,Newcastle+United,25,LB,3,3.50,177,4.5,1.00%,0,2,Wales,0,3,13,0,0
312,Ryan Bertrand,Southampton,27,LB,3,20.00,578,5.5,11.20%,123,1,England,0,3,14,0,0
336,Erik Pieters,Stoke+City,28,LB,3,7.00,134,5.0,1.30%,103,2,Netherlands,0,4,15,0,0
363,Martin Olsson,Swansea,29,LB,3,5.00,458,5.0,0.30%,52,2,Sweden,0,4,16,0,0
390,Danny Rose,Tottenham,27,LB,3,28.00,848,6.5,0.60%,84,1,England,0,3,17,1,0
403,Jose Holebas,Watford,33,LB,3,2.00,345,5.0,0.60%,87,2,Greece,0,5,18,0,0
455,Aaron Cresswell,West+Ham,27,LB,3,12.00,380,5.0,1.30%,60,1,England,0,3,20,0,0

In [106]:
players[(players.position == 'LB') & 
        (players.age <=25) &
        (players.market_value >=10)
       ]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.0,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
236,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.0,947,5.0,0.40%,45,1,England,0,2,12,1,0
389,Ben Davies,Tottenham,24,LB,3,12.0,396,5.5,1.80%,90,2,Wales,0,2,17,1,0

In [118]:
# players excluding Arsenal and Tottenham

players[(players.position == 'LB') & 
        (players.age <=25) &
        (players.market_value >=10) & 
        ~(players.club.isin(['Arsenal','Tottenham']))
       ]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
236,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.0,947,5.0,0.40%,45,1,England,0,2,12,1,0

In [119]:
# new_target : Arsenal Rb and chelsea Gk

In [138]:
arsenal_player = players[players.club == 'Arsenal']

In [144]:

arsenal_rb = arsenal_player[arsenal_player.position == 'RB']
arsenal_rb

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
27,Carl Jenkinson,Arsenal,25,RB,3,5.0,561,4.5,0.40%,2,1,England,0,3,1,1,0

In [142]:
# chelsea GK

In [145]:
chelsea_player = players[players.club == 'Chelsea']

In [146]:
chelsea_player

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
96,Eden Hazard,Chelsea,26,LW,1,75.00,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
97,Diego Costa,Chelsea,28,CF,1,50.00,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
98,Gary Cahill,Chelsea,31,CB,3,16.00,1420,6.5,12.00%,178,1,England,0,4,5,1,0
99,Marcos Alonso Mendoza,Chelsea,26,LB,3,25.00,3069,7.0,12.40%,177,2,Spain,0,3,5,1,1
100,Cesar Azpilicueta,Chelsea,27,RB,3,30.00,869,6.5,12.30%,170,2,Spain,0,3,5,1,0
101,Pedro,Chelsea,29,RW,1,28.00,1500,8.0,7.80%,162,2,Spain,0,4,5,1,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.00,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
103,David Luiz,Chelsea,30,CB,3,30.00,2745,6.0,20.30%,132,3,Brazil,0,4,5,1,0
104,Cesc Fabregas,Chelsea,30,CM,2,35.00,2378,7.0,7.50%,121,2,Spain,0,4,5,1,0
105,Willian,Chelsea,28,RW,1,32.00,1165,7.0,9.00%,114,3,Brazil,0,4,5,1,0
106,Victor Moses,Chelsea,26,RM,2,18.00,2537,6.5,0.20%,105,4,Nigeria,0,3,5,1,0
107,Nemanja Matic,Chelsea,28,DM,2,35.00,892,5.0,5.00%,105,2,Serbia,0,4,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.00,4042,5.0,13.80%,83,2,France,0,3,5,1,1
109,Willy Caballero,Chelsea,35,GK,4,1.50,542,5.0,0.20%,64,3,Argentina,0,6,5,1,0
110,Michy Batshuayi,Chelsea,23,CF,1,25.00,1162,8.5,1.60%,48,2,Belgium,0,2,5,1,1
111,Kurt Zouma,Chelsea,22,CB,3,15.00,723,5.5,0.80%,15,2,France,0,2,5,1,0
112,Kenedy,Chelsea,21,LB,3,7.00,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
113,Eduardo Carvalho,Chelsea,34,LW,1,0.05,467,5.0,0.10%,0,2,Portugal,0,6,5,1,1
114,Antonio Rudiger,Chelsea,24,CB,3,25.00,454,6.0,6.40%,0,2,Germany,1,2,5,1,0
115,Tiemoue Bakayoko,Chelsea,22,DM,2,16.00,1011,5.0,1.60%,0,2,France,1,2,5,1,0

In [147]:
chelsea_gk = arsenal_player[arsenal_player.position == 'GK']
chelsea_gk

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
25,Emiliano Martinez,Arsenal,24,GK,4,1.0,372,4.0,4.20%,8,3,Argentina,0,2,1,1,0
26,David Ospina,Arsenal,28,GK,4,7.0,544,5.0,0.20%,2,3,Colombia,0,4,1,1,0