In [1]:
import numpy as np

In [2]:
import pandas as pd

In [120]:
players = pd.read_csv(r"C:\Users\97798\Desktop\Pandas\dataframes in depth\soccer.csv")

In [121]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [122]:
# we need an fx rate

In [124]:
# usd_eur = 0.9

In [129]:
players.loc[:,['market_value','fpl_value']].transform(lambda x: x*0.91)

     market_value  fpl_value
0          59.150     10.920
1          45.500      8.645
2           6.370      5.005
3          18.200      6.825
4          20.020      5.460
..            ...        ...
460         4.550      4.095
461         6.370      4.095
462         4.095      4.095
463         0.910      4.095
464         9.100      5.005

[465 rows x 2 columns]

In [130]:
from random import choice

In [133]:
names = ['A','B','C']
choice(names)

'C'

In [134]:
pd.Series(['a','b','c']).str.upper()

0    A
1    B
2    C
dtype: object

In [135]:
# random transform function:
#     apply and random string capitalization method
#     to a sequence of values and 
#     return the transformed sequence

In [148]:
def random_case(x):
    func = [x.str.swapcase, x.str.lower, x.str.title, x.str.upper]
    return choice(func)()
    
    pass

In [149]:
players.select_dtypes(include=object).transform(random_case).head()

                name     club position fpl_sel     nationality
0     ALEXIS SANCHEZ  ARSENAL       LW  17.10%           chile
1         MESUT OZIL  ARSENAL       AM   5.60%         germany
2          PETR CECH  ARSENAL       GK   5.90%  czech republic
3       THEO WALCOTT  ARSENAL       RW   1.50%         england
4  LAURENT KOSCIELNY  ARSENAL       CB   0.70%          france