In [1]:
import numpy as np
import pandas as pd

In [68]:
sales_url = 'https://andybek.com/pandas-games'

In [69]:
games.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64

In [87]:
 games.loc[:,['Name', 'Global_Sales']].drop_duplicates().min()

Name            .hack: Sekai no Mukou ni + Versus
Global_Sales                                 0.01
dtype: object

In [91]:
games.groupby('Platform').sum()

               Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3       2622109.0    392.26    343.71     79.99       141.93        957.84
PS4        677042.0     96.80    123.70     14.30        43.36        278.10
X360      2482205.0    601.05    280.58     12.43        85.54        979.96
XOne       429150.0     83.19     45.65      0.34        11.92        141.06

In [93]:
sales.Platform.unique()

array(['X360', 'PS3', 'PS4', 'XOne'], dtype=object)

In [101]:
platform_names = {
    'PS3':'PlayStation3',
    'PS4':'Playstation4',
    'X360':'Xbox',
    'XOne':'Xbox'
}

In [102]:
platform_names

{'PS3': 'PlayStation3', 'PS4': 'Playstation4', 'X360': 'Xbox', 'XOne': 'Xbox'}

In [103]:
games.set_index('Platform').groupby(platform_names).sum()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,
PlayStation3,2622109.0,392.26,343.71,79.99,141.93,957.84
Playstation4,677042.0,96.80,123.70,14.30,43.36,278.10
Xbox,2911355.0,684.24,326.23,12.77,97.46,1121.02

In [104]:
games.Platform.unique()

array(['X360', 'PS3', 'PS4', 'XOne'], dtype=object)